body{
    margin: 0;
    background: white;
    padding: 0;
    
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    color: black
}

body.hidden{
    overflow: hidden;
}

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: rgb(247, 151, 0);
    border: 3px solid black;
    border-radius: 3px;
}

*, *::before, *::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}

/* Button */
.btn_1{
    width: 100%;
    max-width: 250px;
    display: inline-block;
    background-color: rgb(247, 151, 0);
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    padding: 15px 10px;
    border: 1px;
    border-radius: 15px;

    transition: all .3s linear;
}

.btn_1:hover{
    background-color: white;
}

.btn_1:active{
    filter: invert(15%);
}

/* Darkening for blocks */
.main.shading{
    position: fixed;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, .7);
    transition: .5s;
}
.shading{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

/* Popup */
.popup__card{
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    background-color: #f1f1f1;
    padding: 60px;
}

.popup__card-suptitle{
    font-size: 26px;
    font-weight: bold;
    color: #FF8C00;
    text-transform: uppercase;
}

.popup__card-title{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.popup__card-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: #9ea0ac;
}

.modal__block{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(7px);
    z-index: 4;
    opacity: 1;
    transform: scale(1);
    transition: opacity .25s, transform .30s;
}
.modal__block.hidden{
    transform: scale(0);
    opacity: 0;

}
.modal__window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal__card{
    width: 500px;
    position: relative;
    background: #eeeeee;
    border-radius: 15px;
    padding: 25px;
    transition: .5s;
}
.modal__card-header{
    text-align: center;
    margin-bottom: 10px;
}
.modal__card-header h1{
    font-size: 20px;
}
.modal__close-btn{
    display: inline-block;
    font-size: 30px;
    background: none;
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 0;
}
.modal__close-btn i:hover{
    cursor: pointer;
    animation: fadeOut .8s linear infinite;
    transition: animation .3s linear;
}
@keyframes fadeOut {
    0% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 1}
}
.modal__card-form{
    text-align: center;
}
.modal__card-text{
    font-size: 12px;
    line-height: 1.6;
}
.modal__card-text a{
    color: rgb(247, 151, 0);
    transition: .2s linear;
}
.modal__card-text a:hover{
    color: black;
    font-weight: bold;
}

/* Form */
fieldset{
    width: 100%;
    padding: 0;
    margin: 0 0 10px;
    border: none;
}
.modal__card-form input, .modal__card-form textarea{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: white;
    border: 1px solid #cccccc;
    padding: 10px;
}
.modal__card-form input placeholder, .modal__card-form textarea placeholder{
    opacity: .7;
}
.modal__card-form input:focus, .modal__card-form textarea:focus{
    outline: 0;
    border: 1px solid rgb(247, 151, 0);
}
.modal__card-form textarea{
    height: 100px;
    resize: none;
}
/*_____Container_____*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* _____Header_____ */
.header{
    width: 100%;
    position: fixed;
    background-color: #303030;
    z-index: 1000;
    top: 0;
    left: 0;
    transition: .5s;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header.hidden{
    transform: translateY(-100%);
}

#check__menu{
    display: none;
}

label{
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 1;
    line-height: 30px;
    width: 35px;
    height: 35px;
}

.burger__line{
    display: none;
    position: absolute;
    right: 15px;
    z-index: 1;

    width: 35px;
    height: 3px;
    background-color: white;
}

.burger__line.first{
    top: 32px;
}

.burger__line.second{
    bottom: 32px;
}

.header__logo{
    margin-right: 25px;
}

.header__logo img{
    display: block;
    width: 200px;
    height: 100%;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__link{
    position: relative;
    margin-left: 15px;
}

.nav__link:first-child{
    margin-left: 0;
}

.nav__link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(247, 151, 0);
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 1;
    margin-top: 10px;
    transform: scale3d(0, 1, 1);
    transform-origin: 0 50%;
    transition: all .2s ease-in;
}

.nav__link:hover::after{
    transform: scale3d(1, 1, 1);
}

.nav__link a{
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    line-height: 70px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 10px;
}

/* Intro */

.section__intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("image/background_1.jpg")  no-repeat center;
    background-size: cover;
    background-color: #303030;
    background-attachment: fixed;
    padding: 190px 0;
    position: relative;
}

.intro__inner{
    float: left;
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.intro__title{
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    margin-bottom: 24px;
}

.intro__suptitle{
    font-size: 40px;
    color: #FF8C00;
}

.intro__text{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
    color: white;
    line-height: 1.5;
}

/* ELVO */
.elvo{
    padding: 100px 0;
    background-color: #ffe1a8;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
}

.elvo__inner{
    width: 100%;
    text-align: center;
}

.elvo__suptitle{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #696969;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.elvo__title{
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
}

.elvo__text{
    font-size: 24px;
    line-height: 1.35;
    margin-top: 25px;
}

/* Tasks */

.tasks{
    padding-top: 120px;
    padding-bottom: 40px;
}

.tasks__inner{
    position: relative;
    margin-bottom: 70px;
}

.tasks__img img{
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.popup--tasks{
    bottom: -60px;
    right: 80px;
}

/* Works */
.works{
    padding-top: 80px;
    padding-bottom: 120px;
}

.works__inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.works__item{
    width: 33.33333%;
    position: relative;
}

.works__img{
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.works__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 30px;
}

.works__title{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.works__text{
    font-size: 16px;
    line-height: 1.4;
    color: white;
}

/* Services */

.services{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #ffe1a8;
    clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 98% 100%, 96% 98%, 94% 100%, 92% 98%, 90% 100%, 88% 98%, 86% 100%, 84% 98%, 82% 100%, 80% 98%, 78% 100%, 76% 98%, 74% 100%, 72% 98%, 70% 100%, 68% 98%, 66% 100%, 64% 98%, 62% 100%, 60% 98%, 58% 100%, 56% 98%, 54% 100%, 52% 98%, 50% 100%, 48% 98%, 46% 100%, 44% 98%, 42% 100%, 40% 98%, 38% 100%, 36% 98%, 34% 100%, 32% 98%, 30% 100%, 28% 98%, 26% 100%, 24% 98%, 22% 100%, 20% 98%, 18% 100%, 16% 98%, 14% 100%, 12% 98%, 10% 100%, 8% 98%, 6% 100%, 4% 98%, 2% 100%, 0% 98%);
}

.section__header{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.section__header--suptitle{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #FF8C00;
}

.section__header--title{
    font-size: 40px;
    font-weight: bold;
}

.services__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__item{
    width: 32%;
    background-color: white;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 20px;
}

.services__icon i{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

.services__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.services__text{
    font-size: 18px;
    font-weight: 300;
}

/* Portfolio */

.section__portfolio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
}

.portfolio__inner{
    width: 25%;
}

.portfolio__item{
    width: 100%;
    position: relative;
}

.portfolio__img img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;

    opacity: 1;
    transition: all .3s linear;
}

.portfolio__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;

    opacity: 0;
    transition: all .3s linear;
}

.portfolio__item:hover .portfolio__content{
    opacity: 1;
}

.portfolio__title{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* About */

.about{
    padding-top: 120px;
    padding-bottom: 80px;
}

.about__inner{
    width: 100%;
    padding-left: 400px;
    position: relative;
}

.about__img img{
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.popup__card--elvo{
    max-width: 510px;
    bottom: -1px;
    left: 0;
    z-index: 1;
}

.popup__card--elvo .popup__card-text::before{
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: black;
    margin-bottom: 10px;
}

/* Planning */

.planning{
    padding: 120px 0;
    background-color: #ffe1a8;
    clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 0% 100%);
}

.planning__item{
    width: 24%;
    background-color: white;
    border-radius: 25px;
    padding: 40px 25px;
    text-align: center;
}

/* Reviews */

.reviews{
    padding-top: 80px;
    padding-bottom: 120px;
    position: relative;
}

.reviews__inner{
    width: 100%;
    display: flex;
}

.reviews__desktop{
    display: block;
}

.reviews__mobile{
    display: none;
}

.reviews__item{
    width: 27%;
    background-color: #ffe1a8;
    padding: 30px 30px 75px;
    margin: 0 15px 30px;
    border-radius: 15px;
}

.reviews__data{
    font-size: 18px;
    font-weight: 300;
    color: #777777;
    margin-bottom: 25px;
}

.reviews__prof{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 25px;
}

.reviews__text{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.55;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 0;
    border-color: transparent;
    text-align: -webkit-center;
    transition: all .3s linear;
}

.slick-arrow:active{
    filter: invert(30%);
}

.slick-arrow::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 3px solid black;
    border-left: 3px solid black;
}

.slick-prev{
    left: -55px;
}

.slick-prev::before{
    transform: rotate(-45deg);
}

.slick-next{
    right: -55px;
}

.slick-next::before{
    transform: rotate(130deg);
}

/* Contacts */

.contacts{
    padding: 140px 0;
    background: url("image/Контакты.jpg") no-repeat center;
    background-size: cover;
    background-color: #ffe1a8;
}

.contacts__inner{
    max-width: 880px;
    background: white;
    padding: 60px;
    text-align: center;
    margin: 0 auto;
}

.contacts__title{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contacts__subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 25px;
}

.contacts__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.35;
}

.social__contacts{
    display: flex;
    justify-content: center;
}

.social__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: black;
    padding: 5px;
    border-radius: 7px;

    margin-right: 10px;
    background-color: #ffe1a8;
    transition: all .3s linear;
}

.social__link:last-child{
    margin-right: 0;
}

.social__icon{
    display: block;
    height: 25px;
    fill: white;

    transition: fill .3s linear;
}

.social__link:hover{
    background-color: black;
}

/* Footer */

.footer{
    padding-top: 40px;
    background-color: #303030;
}

.footer__inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 16px;
    color: white;
    line-height: 1.5;
}

.footer__logo img{
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
    overflow: hidden;
}

.footer__address{
    max-width: 50%;
    text-align: right;
}

.footer__number{
    color: white;
    text-decoration: none;
    margin-bottom: 12px;

    transition: color .3s linear;
}

.footer__number:hover{
    color: #ffe1a8;
}

.footer__copyright{
    font-size: 10px;
    text-align: center;
    color: white;
    margin-top: 15px;
    padding: 5px;
    border-top: 1px solid #f1f1f1;
}


/*______Media______*/

/* Tablet */
@media (max-width: 1130px) {

    /* Container */
    .container{
        padding: 0 30px;
    }
    /* Button */
    .btn_1{
        font-size: 12px;
    }
    .popup__btn .btn_1 {
        font-size: 12px;
        padding: 15px 20px;
        margin-top: 5px;
    }
    /* Header */
    .nav__link a{
        line-height: 18px;
    }
    .nav__link:after{
        bottom: -5px;
    }
    /* Intro */
    .section__intro{
        padding: 100px 0;
        background: url("image/background_1.jpg") no-repeat center;
        background-size: cover;
    }
    .intro__inner{
        max-width: 65%;
    }
    .intro__title{
        font-size: 35px;
    }
    .intro__suptitle{
        font-size: 25px;
    }
    .intro__text{
        font-size: 22px;
    }
    .intro--btn{
        padding: 15px 50px;
    }
    /* ELVO */
    .elvo{
        padding: 30px 0;
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    }
    .elvo__title{
        font-size: 35px;
    }
    .elvo__suptitle{
        margin-bottom: 10px;
    }
    .elvo__text{
        font-size: 18px;
    }
    /* Tasks */
    .tasks{
        padding: 30px 0;
    }
    .tasks__inner{
        margin-bottom: 60px;
    }
    .popup--tasks{
        max-width: 300px;
        right: 30px;
        padding: 30px;
    }
    .popup__card-title{
        font-size: 20px;
    }
    .popup__card-text{
        font-size: 16px;
    }
    /* Works */
    .works{
        padding-top: 0;
        padding-bottom: 30px;
    }
    .works__title{
        font-size: 20px;
    }
    .works__text{
        font-size: 10px;
    }
    /* Services */
    .services{
        padding: 30px 0;
    }
    .section__header--suptitle, .section__header--title{
        font-size: 35px;
    }
    .services__title{
        font-size: 20px;
    }
    .services__text{
        font-size: 18px;
    }
    /* Portfolio */
    .section__portfolio{
        padding-top: 30px;
    }
    /* About */
    .about{
        padding: 30px 0;
    }
    .about__inner{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 0;
    }
    .about__img{
        width: 50%;
        order: 2;
    }
    .about__img img{
        height: 100%;
    }
    .popup__card--elvo{
        width: 50%;
        position: static;
        padding: 10px 20px;
    }
    .popup__card-suptitle{
        font-size: 18px;
    }
    /* Planning */
    .planning__item{
        width: 48%;
        margin-bottom: 30px;
    }
    /* Reviews */
    .reviews{
        padding: 30px 0;
    }
    .reviews .container{
        padding: 0 10px;
    }
    .reviews__inner{
        display: block;
    }
    .reviews__desktop{
        display: none;
    }
    .reviews__mobile{
        display: block;
    }
    .reviews__item{
        width: 75%;
        margin: 0 auto;
        padding: 30px;
    }
    .slick-arrow{
        width: 25px;
        height: 25px;
    }
    .slick-arrow::before{
        width: 5px;
        height: 5px;
        border-top: 1px solid black;
        border-left: 1px solid black;
    }
    .slick-prev{
        left: -5px;
    }
    .slick-next{
        right: -5px;
    }
    /* Contacts */
    .contacts{
        padding: 30px;
    }
    .contacts__inner{
        max-width: 100%;
        padding: 30px;
    }
    .contacts__title{
        font-size: 20px;
    }
    .contacts__subtitle{
        font-size: 20px;
    }
    .contacts__text{
        font-size: 18px;
    }
    /* Footer */
    .footer .container{
        padding: 0 15px;
    }
}


/* Mobile */
@media (max-width: 800px) {
    /* Container */
    .container{
        padding: 0;
    }
    /* Header */
    .header__inner{
        justify-content: center;
    }
    label{
        display: block;
    }
    .burger__line{
        display: block;
        transition: .3s;
    }
    .header__logo{
        margin-right: 0;
    }
    .header__logo img{
        width: 155px;
    }
    .main__menu{
        width: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 79px;
        left: 0;
        z-index: 1000;
        background-color: #303030;
        transition: .5s;

        overflow-x: hidden;

    }

    .main__menu.active{
        width: 250px;
        overflow-y: auto;
    }

    #check__menu:checked ~ .first{
        top: 38px;
        transform: rotate(45deg);
    }
    #check__menu:checked ~ .second{
        bottom: 38px;
        transform: rotate(-45deg);
    }
    .nav__link{
        margin-left: 0;
        width: 100%;
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 10px;
    }
    /* Intro */
    .section__intro{
        padding: 120px 0 40px 0;
        background: url("image/background_1.jpg") no-repeat center;
        background-size: cover;
    }
    .intro__inner{
        max-width: 100%;
        padding-left: 10px;
    }
    .intro__title{
        font-size: 24px;
    }
    .intro__suptitle{
        font-size: 18px;
    }
    .intro__text{
        font-size: 16px;
        margin-bottom: 0;
    }
    .intro--btn{
        font-size: 10px;
    }
    /* ELVO */
    .elvo{
        clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
    }
    .elvo__suptitle{
        font-size: 18px;
    }
    .elvo__title{
        font-size: 20px;
    }
    .elvo__text{
        font-size: 16px;
    }
    /* Tasks */
    .tasks__inner{
        margin-bottom: 0;
    }
    .popup--tasks{
        position: static;
        max-width: 100%;
        padding: 30px 10px;
    }
    .popup__btn{
        text-align: center;
    }
    /* Works */
    .works__item{
        width: 100%;
        margin-bottom: 10px;
    }
    /* Services */
    .services .container{
        padding: 0 10px;
    }
    .services{
        clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 95% 100%, 90% 99%, 85% 100%, 80% 99%, 75% 100%, 70% 99%, 65% 100%, 60% 99%, 55% 100%, 50% 99%, 45% 100%, 40% 99%, 35% 100%, 30% 99%, 25% 100%, 20% 99%, 15% 100%, 10% 99%, 5% 100%, 0% 99%);
    }
    .section__header--suptitle, .section__header--title{
        font-size: 20px;
    }
    .services__item{
        width: 100%;
    }
    .services__title{
        font-size: 20px;
    }
    .services__text{
        font-size: 16px;
    }
    /* Portfolio */
    .portfolio__inner{
        width: 50%;
    }
    .portfolio__title{
        font-size: 10px;
    }
    /* About */
    .about__inner{
        display: block;
    }
    .about__img{
        width: 100%;
    }
    .popup__card--elvo{
        width: 100%;
        max-width: 100%;
        padding: 15px 10px;
    }
    /* Planning */
    .planning{
        clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 0% 100%);
    }
    .planning__inner{
        justify-content: center;
    }
    .planning__item{
        width: 100%;
        max-width: 270px;
        margin: 0 auto 30px;
    }
    /* Reviews */

    /* Contacts */
    .contacts__title{
        font-size: 18px;
    }
    .contacts__subtitle{
        font-size: 15px;
    }
    .contacts__text{
        font-size: 11px;
    }
    .social__link{
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
    /* Footer */
    @media (max-width: 430px) {
        .footer__inner{
            justify-content: center;
        }
        .footer__address{
            margin-top: 10px;
            text-align: center;
        }
    }
}